#introcontainer {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
}

.introname {
    position: absolute;
    font-size: 120vh;
    line-height: 100vh;
    font-family: fantasy;
    color: transparent;
    background-image: linear-gradient(135deg, rgb(255, 45, 45), rgb(224, 255, 50), rgb(255, 25, 205), rgb(177, 229, 255), rgb(255, 45, 45), rgb(68, 255, 80), rgb(255, 58, 255));
    -webkit-background-clip: text;

    animation-name: nameslide;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.logosimple {
    position: fixed;
    height: 100vh;
    width: 100vw;
    line-height: 100vh;

    /* browser handling
    -webkit-animation-name: logomorphsimple;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 4s;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: logomorphsimple;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-duration: 10s;
    -moz-animation-direction: normal;
    -moz-animation-fill-mode: forwards;

    -o-animation-name: logomorphsimple;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: 1;
    -o-animation-duration: 4s;
    -o-animation-direction: normal;
    -o-animation-fill-mode: forwards;
*/
    animation-name: logomorphsimple;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.logomain {
    position: fixed;
    height: 100vh;
    width: 100vw;
    line-height: 100vh;

    /* browser handling
    -webkit-animation-name: logomorph;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 4s;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: logomorph;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-duration: 4s;
    -moz-animation-direction: normal;
    -moz-animation-fill-mode: forwards;

    -o-animation-name: logomorph;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: 1;
    -o-animation-duration: 4s;
    -o-animation-direction: normal;
    -o-animation-fill-mode: forwards;
*/
    animation-name: logomorph;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

/*
#introcredentials {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 5%;
}

#introhook1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 10%;
}

#introhook2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 15%;
}

.introbegin {
    font-family: fantasy;
    font-size: clamp(1rem, 0.5rem + 2.5vw, 3rem);
    color: #000;
}

.animatecredentials {
    animation-name: credentialsmorph;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.animatehook1 {
    animation-name: hook1morph;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.animatehook2 {
    animation-name: hook2morph;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes credentialsmorph {
    0% {
        font-size: 10rem;
        color: transparent;
        background-image: linear-gradient(135deg, rgb(255, 45, 45), rgb(177, 229, 255), rgb(68, 255, 80), rgb(255, 58, 255));
        -webkit-background-clip: text;
    }

    25% {
        color: transparent;
        background-image: linear-gradient(135deg, rgb(255, 45, 45), rgb(177, 229, 255), rgb(68, 255, 80), rgb(255, 58, 255));
        -webkit-background-clip: text;

    }

    75% {
        color: transparent;
        background-image: linear-gradient(135deg, rgb(255, 45, 45), rgb(177, 229, 255), rgb(68, 255, 80), rgb(255, 58, 255));
        -webkit-background-clip: text;
    }

    100% {
        color: black;
        font-size: 1rem;
    }
}

@keyframes hook1morph {
    0% {
        top: 150%;
        font-size: 3rem;
        color: transparent;
        background-image: linear-gradient(135deg, rgb(255, 45, 45), rgb(177, 229, 255), rgb(68, 255, 80), rgb(255, 58, 255));
        -webkit-background-clip: text;
    }

    25% {
        color: transparent;
        background-image: linear-gradient(135deg, rgb(255, 45, 45), rgb(177, 229, 255), rgb(68, 255, 80), rgb(255, 58, 255));
        -webkit-background-clip: text;

    }

    75% {
        color: transparent;
        background-image: linear-gradient(135deg, rgb(255, 45, 45), rgb(177, 229, 255), rgb(68, 255, 80), rgb(255, 58, 255));
        -webkit-background-clip: text;
    }

    100% {
        top: 10%;
        color: black;
        font-size: 1rem;
    }
}

@keyframes hook2morph {
    0% {
        top: 150%;
        font-size: 3rem;
        color: transparent;
        background-image: linear-gradient(135deg, rgb(255, 45, 45), rgb(177, 229, 255), rgb(68, 255, 80), rgb(255, 58, 255));
        -webkit-background-clip: text;
    }

    25% {
        color: transparent;
        background-image: linear-gradient(135deg, rgb(255, 45, 45), rgb(177, 229, 255), rgb(68, 255, 80), rgb(255, 58, 255));
        -webkit-background-clip: text;

    }

    75% {
        color: transparent;
        background-image: linear-gradient(135deg, rgb(255, 45, 45), rgb(177, 229, 255), rgb(68, 255, 80), rgb(255, 58, 255));
        -webkit-background-clip: text;
    }

    100% {
        top: 15%;
        color: black;
        font-size: 1rem;
    }
}
*/
/* browser handling
@-webkit-keyframes logomorph {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.75;
    }

    75% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes logomorph {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.75;
    }

    75% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes logomorph {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.75;
    }

    75% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}
*/

@keyframes logomorph {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

/* browser handling
@-webkit-keyframes logomorphsimple {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes logomorphsimple {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes logomorphsimple {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
*/
@keyframes logomorphsimple {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
    }
}

@keyframes nameslide {
    0% {
        left: 100vw;
    }

    50% {}

    100% {
        left: -550vw;
    }
}