.container-navbar {
    width: 100%;
    top: 50px;
    right: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: white;
}

ul {
    list-style-type: none;
    text-decoration: none;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    float: left;
    margin: 10px;
}

li a {
    float: left;
    text-transform: uppercase;
    text-decoration: none;
}