html,
body {
    margin: 0;
    padding: 0;
    text-align: left;
    height: 100vh;
    width: 100vw;
}


@media only screen and (max-width: 720px) {
    body {}
}

@media only screen and (max-width: 400px) {
    body {
        /* */
    }
}